<div>
    <h3>Корзина с товарами</h3>
    <div ng-show="cartList.items.length > 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>ID</td>
                <td>Название</td>

                <td>Колличество</td>

                <td>Цена за шт.</td>
                <td>Общая стоимость</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in cartList.items">
                <td>{{c.productId}}</td>
                <td>{{c.productTitle}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="addProductToCart(c.productId)">+
                    </button>
                    {{c.quantity}}
                    <button type="button" class="btn btn-primary btn-sm"
                            ng-click="deleteOneProductFromCart(c.productId)">-
                    </button>
                </td>

                <td>{{c.pricePerProduct}}</td>
                <td>{{c.price}}</td>

            </tr>
            <tr>
                <td></td>
                <td>Итого:</td>
                <td>{{cartList.totalPrice}}</td>
            </tr>

            </tbody>
        </table>

        <div>
            <button type="button" class="btn btn-danger" ng-click="clearCart()" align=”left”>Очистить корзину</button>
        </div>
        <div>
            <form class="row g-3" ng-submit="createNewOrder()">
                <div class="col-auto">
                    <input type="text" class="form-control"  ng-model="newOrder.address"
                           placeholder="Адрес">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control"  ng-model="newOrder.phoneNumber"
                           placeholder="Номер телефона">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary"  ng-show="isUserLoggedIn()"
                            align=”left”>Создать заказ
                    </button>
                    <button class="btn btn-secondary" ng-click="guestCreateOrder()" ng-show="!isUserLoggedIn()">Оформить заказ
                    </button>

                </div>
            </form>
        </div>


        <br>
    </div>
    <div ng-show="cartList.items.length == 0">
        <p>Ваша корзина пуста</p>
    </div>
</div>