
<form ng-submit="tryToRegistration()" ng-show="!isUserLoggedIn()">
    <div class="container">
        <h1>Регистрация</h1>
        <p>Пожалуйста заполните форму для регистрации на сайте</p>
        <hr>

        <label ><b>Имя пользователя</b></label>
        <input ng-model="newUser.username" type="text" placeholder="Имя пользователя" >

        <label ><b>Электронная почта</b></label>
        <input ng-model="newUser.email" type="text" placeholder="email" >

        <label ><b>Пароль</b></label>
        <input ng-model="newUser.password" type="password" placeholder="Введите пароль" >

        <label ><b>Повторите пароль</b></label>
        <input ng-model="newUser.confirmPassword" type="password" placeholder="Повторите пароль" >
        <hr>


        <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>
    <div ng-show="isUserLoggedIn()">
        <h3>Вы уже зарегистрированны</h3>

    </div>

</form>